@model TestKomponent5.ViewModels.Users.Noti
To: @Model.UserEmail
Subject: @Model.Info

<p>Te zadania czekają na odhaczenie, włącz aplikację, by móc je ukończyć.</p>
@foreach (string item in @Model.TaskList)
{
    <p> >> @item</p><br>
}





